In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Data_Province/Bangkok_data_perday.csv', index_col=False)
data.head(5)
cnx

         Date  latitude  longitude      PM2.5
0  2016-03-03   19.9086    99.8325  46.506667
1  2016-03-04   19.9086    99.8325  37.766667
2  2016-03-05   19.9086    99.8325  40.004167
3  2016-03-06   19.9086    99.8325  50.183333
4  2016-03-07   19.9086    99.8325  51.937500

In [3]:
dd18 = cnx_data[cnx_data['Year']==2018][['Month','Year','PM2.5']].groupby(['Month','Year']).mean()
dd17 = cnx_data[cnx_data['Year']==2017][['Month','Year','PM2.5']].groupby(['Month','Year']).mean()
dd16 = cnx_data[cnx_data['Year']==2016][['Month','Year','PM2.5']].groupby(['Month','Year']).mean()

dd16

NameError: name 'cnx_data' is not defined

In [ ]:
x = range(1,dd17['PM2.5'].shape[0]+1)
plt.plot( x, dd17['PM2.5'] )
plt.plot( x, dd18['PM2.5'] )
#plt.plot( dd16['Month'], dd16['PM2.5'] )