In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.animation as animation
sns.set()

In [2]:
data = pd.read_csv('Data_Province/Bangkok_data_perday.csv', index_col=False)
data.head(5)

         Date  latitude  longitude      PM2.5
0  2016-03-03   19.9086    99.8325  46.506667
1  2016-03-04   19.9086    99.8325  37.766667
2  2016-03-05   19.9086    99.8325  40.004167
3  2016-03-06   19.9086    99.8325  50.183333
4  2016-03-07   19.9086    99.8325  51.937500

In [3]:
overdoses = pd.read_csv('Data_Province/Bangkok_data_perday.csv')
def get_data(table,rownum,title):
    data = pd.DataFrame(table.loc[rownum][2:]).astype(float)
    data.columns = {title}
    return data